django>=5.0.3,<5.1.0
djangorestframework
django-cors-headers
google-generativeai
python-dotenv 
djangorestframework-simplejwt
PyJWT==2.8.0
requests==2.31.0
google-cloud-storage
psycopg2
django_filters