@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Reddit+Mono&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    font-size: 20px;
    font-family: Source code pro, sans-serif;
    background: linear-gradient(-225deg, #625EB1 0%, #1D8FE1 48%, #625EB1 100%);
    color: #fff;
  }

  .header {
    /* border: 2px solid black; */
    display: flex;
    width: 100%;    
    padding-top: 10px;
  }
  
  .logoName {
    margin-left: 3%;
    font-family: Reddit Mono, sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
  }
  .navbar{
    margin-left: auto; 
  }
  .navbar ul {
    list-style:  none;
    display: flex;
    flex-direction: row;
  }
  
  .navbar ul li a {
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    position: relative;
  }

  .navbar ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 10px;
    bottom: -6px;
    transition: 0.5s;
  }
  .navbar ul li a:hover::after{
    width: 80%;
  }
  
  .content { 
    /* border:2px solid beige;    */
    text-align: center;
    font-size: 28px;
  }
  
  .cta {
    font-size: 20px;
    width: 300px; 
    background:#fff;
    color: #1D8FE1;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 15px;
    margin-top: 50px;
    cursor: pointer;
    border: 2px solid white;
    margin-left: auto;     
    margin-right: auto; 
  }
  .cta:hover{
    background:transparent;
    color: #fff;
  }
  .footer {
    /* border: 2px solid black; */
    text-align: center;
    margin-bottom: 10px;
  }
  .footer a {
    color: #fff; /* Set link color to white */
    text-decoration: none; /* Remove default underline */
    margin-left: 10px; 
  }
  