@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Reddit+Mono&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.search-container{
  padding: 20px; 
  box-sizing: border-box; 
  color: #fff; 
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.input-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 30px;
}

.input-row > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.input-row label {
  margin-right: 5px;
}

.search-button {
  margin-top: 10px;
}

.search-results {
  flex-grow: 1; 
  overflow-y: scroll; 
  width: 100%; 
}
.table-container{
  max-height: 300px; /* Adjust the height according to your preference */
  border: 0.5px solid #fff;
  overflow-y: auto; 
}

table {
  width: 100%;  
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #fff;
  
}

th {  
  
  border-bottom: 1px solid #fff;
}

tbody tr {
  border-bottom: 1px solid #fff;
}
.search-button{
    color: #1D8FE1;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    padding: 0% 1%;
}
.search-button:hover{
  color: #fff;
  background-color:transparent;
  border: 2px solid white;
}
.shortened-url {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff; /* Add this line to set the color to white */
}

