.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contentText{
    margin-top: 20px;
  }
  .contentText .loginLink:hover {
    color: white; 
  }
  .contentText .loginLink {
    color: blue; 
    text-decoration: underline;
  }

  .regForm form {
    border: 2px solid white;
    border-radius: 10px;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .regForm form label {
    margin-top: 5%; 
  }
  
  .regForm form input {
    margin-bottom: 10%; 
    padding: 5px 15px;
    font-size: large;
    color: #6f6f6f;
    border: none;
    border-radius: 3px;

  }
  .regForm form input:focus {
    outline: none; 
    border-color: #32B2BB; 
    box-shadow: 0 0 5px #32B2BB; 
  }
  
  .regForm form input[type="submit"] {
    margin-top: 5%; 
    align-self: center;
    color: #0b919a;
    font-size: 18px;
    padding: 2% 6%;
  }
  